* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-rows: $menu-height auto auto auto auto;
  grid-template-columns: 100%;
  grid-template-areas: "header" "categories"  "featured-product"  "catalogue" "footer";
}


@media (min-width: 768px){
  .container {
    grid-template-rows: $menu-height  auto 1fr auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header" "featured-product featured-product" "categories catalogue" "footer footer";
  }
}

@media (min-width: 1200px){
  .container {
    grid-template-rows: $menu-height  1fr auto;
    grid-template-columns: 20% 30% 50%;
    grid-template-areas: "header header header" "categories catalogue featured-product" "footer footer footer";
  }
}
